<div class="container chatroom" data-controller="chatroom-subscription" data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>">

  <%= image_tag "rainbow.png", class: "rainbow" %>

  <h1> #<%= @chatroom.first_user.name %> e <%= @chatroom.second_user.name %></h1>

  <div class="messages" data-chatroom-subscription-target="messages">
    <% @chatroom.messages.each do |message| %>
       <% if @chatroom.first_user.id == message.user.id %>
       <%# <%= usuario = @chatroom.first_user.id %>
       <%# <%= usuario2 = @chatroom.second_user.id %>
       <%# <%= usuario3 = message.user.id %>
       <%# <% raise %>
        <%= render "messages/message", message: message, class: "user-current-class" %>
       <% else %>
         <%= render "messages/message", message: message, class: "other-user-class" %>
       <% end %>
    <% end %>
  </div>

    <%= simple_form_for [@chatroom, @message],
      html: {data: {action: "turbo:submit-end->chatroom-subscription#resetForm"}, class: "d-flex"} do |f|
    %>
  <div class="input-button-message">
      <%= f.input :content,
        label: false,
        placeholder: "Envie uma mensagem",
        wrapper_html: {class: "flex-grow-1"}
      %>
      <%= f.submit "Enviar", class: "btn-messages" %>
    <% end %>
  </div>
  <%= image_tag "mini-trees", class: "mini-trees" %>
</div>
