

<% if current_page?(root_path) %>
  <div class="footer">
    <div class="footer-links">
        <%= link_to "Sobre", "#" %>
        <%= link_to "Website", "#" %>
        <%= link_to "Políticas", "#" %>
        <%= link_to "Contato", "#" %>
        <%= link_to "Feedback", "#" %>
    </div>

    <div>
      <p>©2023 Grin-go</p>
      <p>Site desenvolvido pelo Grin-go Team</p></div>
    </div>

  </div>
<% else %>
   <div class="footer footer-other">
      <div class="footer-links">
        <%= link_to "Sobre", "#" %>
        <%= link_to "Website", "#" %>
        <%= link_to "Políticas", "#" %>
        <%= link_to "Contato", "#" %>
        <%= link_to "Feedback", "#" %>
      </div>

      <div id="gringo-img-footer">

        <p><%= image_tag "mini-mascot.png" %>  ©2023 Grin-go </p>
        <p> Site desenvolvido pelo Grin-go Team </p>
      </div>
    <% if params["search"].present? && params["search"]["query"] != "" %>
      <%= image_tag "female-tourist.png", class: "female-tourist" %>
    <% end %>
    </div>


<% end %>
