<div class="about-us">

  <div class="about-header row w-100">
    <div class="col-2">
      <%= image_tag "pathway.png", id: "pathway" %>
    </div>
    <div class="col-2"> </div>
    <div class="about-h1 col-4" >
      <%= image_tag "calendar.png", class: "calendar" %>
      <h3>Saiba mais sobre nós e como fazer parte</h3>
    </div>
  </div>

<div class="about-guides">

  <%= image_tag "mascot-guide.png" %>

  <div class="about-guide-group">
    <h3>Para os guias</h3>
    <p>Faça seu cadastro e começe agora o seu guia com turistas </p>
    <button>Saiba mais</button>
  </div>

</div>

<div class="pathway2"> <%= image_tag "pathway_2.png" %> </div>

<div class="about-guides">

  <div class="about-guide-group">
    <h3>Para os turistas</h3>
    <p> Cadastre-se e ache agora o guia perfeito para o seu passeio </p>
    <button>Saiba mais</button>
  </div>

  <%= image_tag "tourist.png" %>

</div>

<div class="big-waves">

  <%= image_tag "waves_2.png" %> </div>

</div>
