<div class="container-guides guides">

  <div class="guides-header">

    <div class="title">
      <h3 class="guides-title">Guias para a sua viagem!</h3>
      <%= image_tag "wave.png", class: "wave" %>
    </div>

    <div class="bee-img">
      <%= image_tag "bee.png", class: "bee" %>
    </div>

  </div>

    <div class="cards">

      <div class="group-cards">
        <div class="avatar-cards">
          <%= image_tag "https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/v1673640465/pu6kntjehrtvvtymvb6k.jpg", class: "avatar-bordered", alt: "avatar-bordered" %>
        </div>

        <div class="name-card">
          <p>Rodrigo</p>
        </div>

        <div class="card-description">
          <p>Rodrigo é da cidade do São Paulo vai te mostrar  os melhores barzinhos da região para assistir o jogo do seu time favorito, e os melhores parques para andar de skate!</p>

          <div class="stars-img">
            <%= image_tag "stars.png", class: "stars" %>
          </div>

        </div>

      </div>

      <div class="group-cards">
        <div class="avatar-cards">
          <%= image_tag "https://avatars.githubusercontent.com/u/44177875?v=4", class: "avatar-bordered", alt: "avatar-bordered" %>
        </div>

        <div class="name-card">
          <p>Josué</p>
        </div>

        <div class="card-description">
          <p>Josué vai te mostrar as melhores partes de BH, desde os melhores cafés e queijos do famoso estado de Minas Gerais até as trilhas mais bonitas pela cidade histórica.</p>

          <div class="stars-img">

          <%= image_tag "stars.png", class: "stars" %>
          </div>
        </div>

      </div>

      <div class="group-cards">
        <div class="avatar-cards">
          <%= image_tag "https://avatars.githubusercontent.com/u/10684007?v=4", class: "avatar-bordered", alt: "avatar-bordered" %>
        </div>

        <div class="name-card">
          <p>Felipe</p>
        </div>

        <div class="card-description">
          <p>Felipe te guiará pela cidade planejada de Brasília, te mostrando  o passo-a-passo da cidade, desde a arquitetura de Niemeyer até a consagrada pizza Dom Bosco.</p>
          <div class="stars-img">
            <%= image_tag "stars.png", class: "stars" %>
          </div>
        </div>

      </div>

      <%= image_tag "mascot-guitar.png", class: "mascot-guitar" %>

  </div>

</div>
