<% image = ["https://images.unsplash.com/photo-1509042239860-f550ce710b93?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80", "https://images.unsplash.com/photo-1511920170033-f8396924c348?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80", "https://images.unsplash.com/photo-1498804103079-a6351b050096?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80", "https://images.unsplash.com/photo-1514432324607-a09d9b4aefdd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80", "https://images.unsplash.com/photo-1501747315-124a0eaca060?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80", "https://images.unsplash.com/photo-1501747315-124a0eaca060?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80", "https://images.unsplash.com/photo-1525480122447-64809d765ec4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80"] %>
<div class="container mt-5 mb-5">

<div class="container mt-5 mb-5">
  <h1 class="d-flex justify-content-center mb-5">Para aonde vamos hoje?</h1>
  <% if params[:search].present? && params[:search][:query].present? %>
  <div class="cards">
    <% @trips.each_with_index do |place, index| %>
      <%= link_to place_path(place) do %>
        <div class="card-category" style="background-image: url(<%= image[index] %>)">
          <div class="city-window">
            <%= place.city %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <% else %>
    <p>Aqui vai a lista de Paises</p>
    <% @places.each do |place| %>
      <%= link_to place.country, places_path(search: {query: place.country}) %>
    <% end %>
  <% end %>
  <div class="d-flex justify-content-center w-100 mt-5">
      <%= link_to "Voltar", places_path, class: "btn btn-primary w-10" %>
  </div>
</div>
