<% image = ["https://images.unsplash.com/photo-1521571783891-2ac3de6c8fc9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=435&q=80", "https://images.unsplash.com/photo-1521571783891-2ac3de6c8fc9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=435&q=80", "https://images.unsplash.com/photo-1521571783891-2ac3de6c8fc9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=435&q=80", "https://images.unsplash.com/photo-1521571783891-2ac3de6c8fc9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=435&q=80", "https://images.unsplash.com/photo-1521571783891-2ac3de6c8fc9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=435&q=80", "https://images.unsplash.com/photo-1521571783891-2ac3de6c8fc9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=435&q=80", "https://images.unsplash.com/photo-1521571783891-2ac3de6c8fc9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=435&q=80", "https://images.unsplash.com/photo-1521571783891-2ac3de6c8fc9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=435&q=80", "https://images.unsplash.com/photo-1521571783891-2ac3de6c8fc9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=435&q=80", "https://images.unsplash.com/photo-1521571783891-2ac3de6c8fc9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=435&q=80"] %>

<div class="container mt-5 mb-5 container-places">
  <% if params[:search].present? && params[:search][:query].present? %>
  <h1>As mais lindas cidades do mundo estão aqui!</h1>
  <%= image_tag "butterfly.png", class: "butterfly-img" %>
  <div class="cards-places">
    <% @trips.each_with_index do |place, index| %>
      <%= link_to place_path(place, city: place.city) do %>
        <div class="card-category" style="background-image: url(<%= image[index] %>)">
          <div class="city-window">
            <%= place.city %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <% else %>
    <p>Aqui vai a lista de Paises</p>
    <% @places.each do |place| %>
      <%= link_to place.country, places_path(search: {query: place.country}) %>
    <% end %>
  <% end %>

  <div class="d-flex justify-content-center w-100 mt-5">
      <%= link_to "Voltar", root_path, class: "btn btn-primary w-10" %>
  </div>

  <% else %>
    <div class="places-countries">

      <h1>Temos anfitriões de todos os lugares do mundo! Escolha o seu!</h1>
      <div><%= image_tag "terra.png", class: "terra" %></div>
      <div class="places-list">
        <% @places.each do |place| %>
          <%= link_to place.country, places_path(search: {query: place.country}), class: "link-animado" %>
        <% end %>
      </div>
  <% end %>
    </div>
</div>
