  <div id="lugares-title">
    <h1><%= "Bem-vindo à cidade de <span>#{@place.city}</span>, <span>#{current_user.name}</span>".html_safe %></h1>

  </div>
<div class="lugares row">

    <% @users.each do |user| %>

      <%# <% user.places.each do |place| %>
  <div class="col-3 mb-3 ">
        <%# <% next if user.city != params[:city] %>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><p>Nome: <strong><%= user.name %></strong></p></h5>
              <p class="card-text"><p>Cidade: <strong> <%= user.city %></strong></p>
              <% if user.host %>
                <p><strong> Tipo:</strong> Host</p>
              <% else %>
                <p><strong> Tipo: </strong> Visitor</p>
              <% end %>
              <%= link_to "Visitar o perfil", profile_path(user), class: "btn btn-info" %>
              <%= image_tag "no_profile.jpg", class: "avatar-square avatar-position", alt: "avatar-square" %>
            </div>
          </div>
  </div>
      <% end %>
    <%# <% end %>

</div>
